<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

</head>
<body>

<div th:fragment ="addnew">
    <div th:include="header::header"></div>

    <div class="col-md-6">
        <div class="row myborder">
            <form method="POST" action="/addnew" th:object="${realEstate}">
                <h4 style="color: #7EB59E; margin: initial; margin-bottom: 10px;">Add new Ad</h4>
                <!--description-->
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user mycolor"></i></span>
                    <input type="text" name="description" value="" placeholder="description" size="60" maxlength="255" class="form-control"/></div>
                <!--district-->
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope mycolor"></i></span>
                    <input type="number" name="district" value="" placeholder="District" size="60" maxlength="255" class="form-control"/></div>
                <!--sqm-->
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock mycolor"></i></span>
                    <input type="number" name="squaremeter" value="" placeholder="SQM" size="60" maxlength="255" class="form-control"/></div>
                <!--price-->
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil mycolor"></i></span>
                    <input type="number" name="price" value="" placeholder="Price" size="60" maxlength="255" class="form-control"/></div>
                <div class="col-md-12">
                    <input class="btn-u pull-left" type="submit"  value="Send"/>
                </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>