<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="card">
        <div th:if="${event}" class="card">
            <div class="card-block">
                <h4 class="card-title" th:text="${event.name}">Card title</h4>
                <h5 class="card-subtitle mb-2 text-muted" th:text="${event.place}">Card subtitle</h5>
                <h5 class="card-subtitle mb-2 text-muted" th:text="'Starts in: ' + ${remainingTime.get('days')} + ' days, ' + ${remainingTime.get('hours')} + ' hours, ' + ${remainingTime.get('minutes')} + ' minutes'">Card subtitle</h5>

                <h6 class="card-subtitle mb-2 text-muted" th:text="${event.time}">Card subtitle</h6>
                <p class="card-text" th:text="${event.description}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <h4>Users attending:</h4>
                <div th:each="user : ${userInEvent}">
                    <p class="card-text" th:text="${user.name}"></p>
                </div>
                <div class="wrapper">
                    <form method="POST" th:action="'/join/event/'+${event.id}">
                        <button type="submit" class="btn btn-primary hover" th:classappend="${ifUserInEvent} or !${canJoinByGroup}?disabled" th:disabled="${ifUserInEvent} or !${canJoinByGroup}">Join Event</button>
                    </form>
                    <p class="message" th:if="${isLogged == null}">U need to log in</p>
                    <p class="message" th:if="${isLogged != null} and !${canJoinByGroup}" th:text="'Only ' + ${event.group.name} + ' group members can join'"></p>
                    <p class="message" th:if="${isLogged != null} and ${canJoinByGroup} and ${ifUserInEvent}">U are already attending, u silly</p>
                </div>
            </div>
            <div th:if="${isLogged != null}" class="detailBox">

                <div class="actionBox">
                    <ul th:each="comment: ${event.getComments()}" class="commentList">
                        <li>
                            <div class="commentText">
                                <p class="" th:text="${comment.getContent()}"></p> <span class="date sub-text" th:text="'on ' + ${comment.getCurrentTime()} +' by ' + ${comment.userName}">on March 5th, 2014 by user</span>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline" role="form"  method="POST" th:action="'/create/comment/'+${event.id}">
                        <div class="form-group">
                            <input class="form-control" name="comment" type="text" placeholder="Your comments" />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div th:if="${group}" class="card">
            <div class="card-block">
                <h4 class="card-title" th:text="${group.name}">Card title</h4>
                   <p class="card-text" th:text="${group.description}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <h4>Users in the group:</h4>
                <div th:each="user: ${usersInGroup}">
                       <p class="card-text" th:text="${user.name}"></p>
                   </div>
                <div class="wrapper">
                    <form method="POST" th:action="'/join/group/'+${group.id}">
                        <button type="submit" class="btn btn-primary hover" th:classappend="${!canJoin}?disabled" th:disabled="${!canJoin}">Join group</button>
                    </form>
                    <p class="message" th:if="${isLogged == null}">U need to log in</p>
                    <p class="message" th:if="${isLogged != null} and !${canJoin}">u are already in that group, u silly</p>
                </div>
            </div>
        </div>
        <div th:if="${user}" class="card">
            <div class="card-block">
                <h4 class="card-title" th:text="${user.name}">Card title</h4>
                <img id="card-avatar" class="card-avatar" th:src="'/pictures/'+${user.avatar}" onerror="this.src='/pictures/alter.jpg'"/>
                <p class="card-text" th:text="${user.intro}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

             <!--   <div th:each="group: ${user.groups}">
                    <a th:text="${group.name}" href="'/groups/' + ${group.id}"></a>
                </div>-->
            </div>
        </div>
    </div>
</body>
</html>