<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="signup">
        <div>
            <form method="POST" action="/sign-up">
                <h3>Name: </h3><input type="text" name="name" value=""/><br/>
                <h3>E-mail: </h3><input type="text" name="email" value=""/><br/>
                <h3>Password: </h3><input type="password" name="password" value=""/><br/>
                <h3>Intro:</h3><input type="text" id="intro" name="intro" value="" maxlength="255"/><br/>
                <!--h3>Avatar:</h3><input type="src" id="avatar" name="avatar" value=""/><br/><br/-->
                <input class="btn btn-success" type="submit"  value="Sign Up pls"/>
            </form>
        </div>
    </div>
</body>
</html>